interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://skew.engagement-global.de/veranstaltung-detail/6-vernetzungstreffen-club-der-agenda-2030-kommunen.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html prefix=\"og: http://ogp.me/ns#\" lang=\"de\">\n<head>\n\n
        \     <meta charset=\"utf-8\">\n    <title>6. Vernetzungstreffen Club der
        Agenda 2030 Kommunen - SKEW</title>\n    <base href=\"https://skew.engagement-global.de/\">\n\n
        \         <meta name=\"robots\" content=\"index,nofollow\">\n      <meta name=\"description\"
        content=\"Club der Agenda 2030\">\n      <meta name=\"keywords\" content=\"\">\n
        \     <meta name=\"generator\" content=\"Contao Open Source CMS\">\n      <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    \n
        \   <link href=\"/favicon.ico\" type=\"image/vnd.microsoft.icon\" rel=\"icon\"
        />\n    <link href=\"/favicon.ico\" type=\"image/vnd.microsoft.icon\" rel=\"shortcut
        icon\" />\n\n  <script type=\"text/javascript\" src=\"assets/eg/cookie-bar/cookiebar-latest.min.js?theme=grey&always=1\"></script>\n
        \           <link rel=\"stylesheet\" href=\"assets/css/landkarte_kepol.css,landkarte_fachkraefte.css-753e8917.css\">
        \       <link id=\"maincss\" rel=\"stylesheet\" href=\"assets/eg/css/global.css\"
        /><meta property=\"og:site_name\" content=\"SKEW [DE]\"/><meta property=\"og:title\"
        content=\"Veranstaltung Detail\"/><meta property=\"og:description\" content=\"Club
        der Agenda 2030\"/><script src=\"https://cookies.engagement-global.de/ccm19/public/ccm19.js?apiKey=7ec8993ccce746a8da6220800b0595a3abe8d6c11385d131&amp;domain=90645ff\"
        referrerpolicy=\"origin\"></script>\n<!--<link id=\"maincss\" rel=\"stylesheet\"
        href=\"assets/eg/css/global.css\" />-->\n\n          <!--[if lt IE 9]><script
        src=\"assets/html5shiv//html5shiv-printshiv.min.js\"></script><![endif]-->\n
        \     \n</head>\n<body id=\"top\" class=\"unknown other  development program
        skew content lang-de\">\n\n  <div id=\"skiplinks\">\n    <!--skiplinks-->\n
        \   <a class=\"skip\" title=\"skip link\" href=\"veranstaltung-detail.html#target_nav\">Zur
        Hauptnavigation springen</a><span class=\"hideme\">.</span>\n    <a class=\"skip\"
        title=\"skip link\" href=\"veranstaltung-detail.html#target_content\">Zum
        Seiteninhalt springen</a><span class=\"hideme\">.</span>\n  </div>\n\n      \n
        \   <div class=\"wrapper\">\n\n            <header class=\"topheader\">\n
        \       <div class=\"topheader__inside\">\n          \n<div class=\"funcnavigation\">\n\t<ul>\n\t\t<li
        class=\"ico-contrast\"><a id=\"contrast_toggle\" href=\"javascript:;\">Kontrast</a></li>\n\t\t<li
        class=\"ico-lang langnav\">\n\t\t\t<a id=\"lang_toggle\" href=\"javascript:;\">Sprachen</a>\n\t\t\t<div
        class=\"level2_container\">\n\t\t\t\t<div class=\"level2_container__inside\">\n\t\t\t\t\t<ul>\n\t\t\t\t\t\t<li
        class=\"active\">\n\t\t\t\t\t\t\t<a href=\"skew-de.html\">Deutsch</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li
        class=\"\" ><a href=\"home.html\">English</a></li>\n\t\t\t\t\t\t<li class=\"active\">\n\t\t\t\t\t\t\t<a
        href=\"accueil.html\">Fran\xE7ais</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li
        class=\"active\">\n\t\t\t\t\t\t\t<a href=\"inicio.html\">Espa\xF1ol</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li
        class=\"active\">\n\t\t\t\t\t\t\t<a href=\"pagina-inicial.html\">Portugu\xEAs</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t\t<li
        class=\"active\">\n\t\t\t\t\t\t\t<a href=\"golovna.html\">\u0443\u043A\u0440\u0430\u0457\u043D\u0441\u044C\u043A\u0430</a>\n\t\t\t\t\t\t</li>\n\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</li>\n\t</ul>\n</div>\n<div
        class=\"logo\">\n\t<a href=\"http://www.engagement-global.de\" title=\"zur
        Startseite Engagement Global\"><img src=\"files/framework/img/logo_eg.png\"
        alt=\"Logo Engagement Global\" /></a>\n</div>\n<div class=\"infophone hide-inter-down\">\n\t<a
        id=\"infotel-1\" href=tel:+498001887188 target=\"_blank\">Infotelefon: 0800
        188 7 188</a>\n</div>        </div>\n      </header>\n      \n                        <header
        class=\"header\">\n            <!--<div class=\"header__inside\">-->\n              <!--
        indexer::stop -->\n  <h6 class=\"hideme\">Hauptnavigation</h6>\n\n<nav class=\"mod_navigation
        mainnavigation program with-search block\" id=\"target_nav\">\n\n<div class=\"nav__inside\">\n
        \ \n<a href=\"veranstaltung-detail/6-vernetzungstreffen-club-der-agenda-2030-kommunen.html#skipNavigation49\"
        class=\"skipinvisible\">Navigation \xFCberspringen</a>\n<ul class=\"level_1\"
        >\n    <li><a href=\"http://www.engagement-global.de\" title=\"zur Startseite
        Engagement Global\"><img src=\"files/framework/img/logo_eg_small.png\" alt=\[...]
