interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.engagement-global.de/veranstaltung-detail/ringvorlesung-2021-ambivalenzen-der-digitalisierung-f%C3%BCr-nachhaltigen-frieden.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html prefix=\"og: http://ogp.me/ns#\" lang=\"de\">\n<head>\n\n
        \     <meta charset=\"utf-8\">\n    <title>Ringvorlesung 2021 - Ambivalenzen
        der Digitalisierung f\xFCr nachhaltigen Frieden - Engagement Global</title>\n
        \   <base href=\"https://www.engagement-global.de/\">\n\n          <meta name=\"robots\"
        content=\"index,nofollow\">\n      <meta name=\"description\" content=\"Ambivalenzen
        der Digitalisierung f\xFCr nachhaltigen Frieden\">\n      <meta name=\"keywords\"
        content=\"\">\n      <meta name=\"generator\" content=\"Contao Open Source
        CMS\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"
        />\n    \n    <link href=\"/favicon.ico\" type=\"image/vnd.microsoft.icon\"
        rel=\"icon\" />\n    <link href=\"/favicon.ico\" type=\"image/vnd.microsoft.icon\"
        rel=\"shortcut icon\" />\n\n  <script type=\"text/javascript\" src=\"assets/eg/cookie-bar/cookiebar-latest.min.js?theme=grey&always=1\"></script>\n
        \                   <link id=\"maincss\" rel=\"stylesheet\" href=\"assets/eg/css/global.css\"
        /><meta property=\"og:site_name\" content=\"Engagement Global [DE]\"/><meta
        property=\"og:title\" content=\"Veranstaltung Detail\"/><meta property=\"og:description\"
        content=\"Ambivalenzen der Digitalisierung f\xFCr nachhaltigen Frieden\"/><meta
        property=\"og:image\" content=\"https://www.engagement-global.de/files/1_Bilder/Bilder_EG/Unser_Service/Veranstaltungen/190328_Veranstaltung_VE1.png\"/><meta
        property=\"twitter:image:alt\" content=\"\"/><meta property=\"twitter:card\"
        content=\"summary_large_image\"/><script src=\"https://cookies.engagement-global.de/ccm19/public/ccm19.js?apiKey=7ec8993ccce746a8da6220800b0595a3abe8d6c11385d131&amp;domain=3f479e2\"
        referrerpolicy=\"origin\"></script><!--<link id=\"maincss\" rel=\"stylesheet\"
        href=\"assets/eg/css/global.css\" />-->\n\n          <!--[if lt IE 9]><script
        src=\"assets/html5shiv//html5shiv-printshiv.min.js\"></script><![endif]-->\n
        \     \n</head>\n<body id=\"top\" class=\"unknown other  development eg content\">\n\n
        \ <div id=\"skiplinks\">\n    <!--skiplinks-->\n    <a class=\"skip\" title=\"skip
        link\" href=\"veranstaltung-detail.html#target_nav\">Zur Hauptnavigation springen</a><span
        class=\"hideme\">.</span>\n    <a class=\"skip\" title=\"skip link\" href=\"veranstaltung-detail.html#target_content\">Zum
        Seiteninhalt springen</a><span class=\"hideme\">.</span>\n  </div>\n\n      \n
        \   <div class=\"wrapper\">\n\n            <header class=\"topheader\">\n
        \       <div class=\"topheader__inside\">\n          \n<div class=\"funcnavigation\">\n\t<ul>\n\t\t<li
        class=\"ico-gs hide-medium-down\" ><a href=\"gebaerdensprache.html\">Geb\xE4rdensprache</a></li>\n\t\t<li
        class=\"ico-ls hide-medium-down\" ><a href=\"leichte-sprache.html\">Leichte
        Sprache</a></li>\n\t\t<li class=\"\"><a href=\"kontakt.html\">Kontakt</a></li>\n\t\t<li
        class=\"ico-contrast\"><a id=\"contrast_toggle\" href=\"javascript:;\">Kontrast</a></li>\n\t\t<li
        class=\"\" ><a href=\"homepage.html\">English</a></li>\n\t\t<li class=\"hide-medium-down\"
        ><a href=\"https://community.engagement-global.de\" target=\"_blank\">Community</a></li>\n\t</ul>\n</div>\n<div
        class=\"logo\">\n\t<a href=\"http://www.engagement-global.de\" title=\"zur
        Startseite Engagement Global\"><img src=\"files/framework/img/logo_eg.png\"
        alt=\"Logo Engagement Global\" /></a>\n</div>\n<div class=\"infophone hide-inter-down\">\n\t<a
        id=\"infotel-1\" href=tel:+498001887188 target=\"_blank\">Infotelefon: 0800
        188 7 188</a>\n</div>\n<!-- indexer::stop -->\n<div class=\"mod_breadcrumb
        only-print block\">\n\n        \n  \n  <ul itemprop=\"breadcrumb\" itemscope
        itemtype=\"http://schema.org/BreadcrumbList\">\n                  <li class=\"first\"
        ite[...]
